#HeroSec {
  height: 85vh;
  color: #fff;
  background-color: #1abc9c;
}

.avatarImg {
  width: 15%;
}

#HeroSec h1 {
  margin: 0%;
  font-weight: 700;
  font-size: 4rem;
}

#HeroSec p {
  font-size: 1.5rem;
}
