@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0%;
  padding: 0ch;
  font-family: "Lato", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "Liberation Mono", "Courier New",
    monospace;
}

html {
  font-size: 6px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #1abc9c;
  border: none;
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.line {
  width: 8rem;
  height: 0.3rem;
  border-radius: 5px;
  background-color: #fff;
}

@media (min-width: 478px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 675px) {
  html {
    font-size: 14px;
  }

  .ham {
    display: none;
  }
}

@media (min-width: 958px) {
  html {
    font-size: 16px;
  }
}
